/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    font-size:16px;word-spacing:1px;
    margin-left:auto;
    margin-right:auto;
    font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    color:#000000;
    background-color:#ffffff;
}

body>div {
    width: 70%;
    min-width: 32em;
    max-width: 60em;
    padding: 3em 3em 1.5em;
    margin: 3em auto;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px 0 #cfcfcf;
    -webkit-box-shadow: 0 0 10px 0 #cfcfcf;
    box-shadow: 0 0 10px 0 #cfcfcf;
    border-top: 6px solid #EE0000;
}
h1 {
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 28px 0;
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding: 12px;
}
h2 {
    font-size: 26px;
    line-height: 48px;
    margin: 0 0 24px 0;
}
h2 i {
	font-size: 18px;
	color: #ccc;
}
h3 {
    font-size: 18px;
    line-height: 24px;
}
section>h3 {
    margin: 0 0 24px 0;
}
p, ul, ol, dl {
    line-height: 24px;
    margin: 0 0 24px 0;
}
p.intro {
    font-size: 24px;
	line-height: 32px;
}
ul {
    list-style-type: square;
    padding-left: 12px;
}
ol {
    list-style-type: decimal;
    padding-left: 12px;
}
dt {
    font-weight: 700;
}
pre {
    border-left: 6px solid #edebea;
    overflow: auto;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
    padding: 12px;
    margin: 0 0 24px;
	background-color: #f3f3f3;
}
p code {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
    border: 1px solid #edebea;
}
hr {
    border: 0;
    background-color: #edebea;
    height: 2px;
    margin: 0 0 22px 0;
}
a {
    color: #EE0000;
}
a:visited {
    color: #B22222;
}
a.ss-icon {
	font-size: 20px;
	padding: 0 0.25em;
	color: #ccc;
}
a:hover {
    color: #EE0000;
}
em {
    font-style: italic;
}
strong {
    font-weight: 700;
}
img.avatar {
    position: relative;
    float: right;
}

.meta{
    text-align:right;
    font-size:14px;
    margin-bottom: 10px;
}

dl .meta {
    margin: 0 0 24px 0;
}

.home {
	position: relative;
	float: right;
}

.buttons{
    float: right;
    margin-top: 14px;
}

.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{
    padding:.2em 1em;

}

.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}


.paginator {
font: 14px Arial,Helvetica,sans-serif;
color: #AAA;
margin: 20px 0;
line-height: 150%;
display: block;
}

.paginator a,.paginator span{
padding: 0 4px;
margin: 2px;
text-decoration: none;
}

.paginator .current-page {
color: white;
background: #ff0000;
}

.paginator a:hover{
color: white;
background: #83BF73;
}


footer{
display:block;
border-top: 1px dashed #CCC;
}

footer small {
font-size: 13px;
color: #999;
}

footer a {
margin: 1px;
border: 1px solid rgba(1,1,1,0);
border-bottom: 1px dashed #BBB;
color: #B9221F;
text-decoration: none;
}

footer a:hover {
    color: rgba(250,250,250,1.0) !important; 
    -webkit-border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.45);
    text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(110,110,110,1.0)), to(rgba(100,100,100,1.0)));
    -webkit-box-shadow: rgba(0,0,0,1.0) 0px 0px 2px,rgba(255,255,255,0.15) 0px 1px 1px inset;
    text-decoration: none;
}

